
<div class = "container">
	<h3>The Demogorgon</h3>
	<div class="col-sm-4">
<img class = "img" ng-src="/images/demogorgon.jpg" ng-mouseover="demobio=true" ng-mouseleave="demobio=false"></img>
</div>
<div class="col-sm-4">
</div>
<div class="col-sm-4">
	<p class = "demobio" ng-show="demobio">The centerpiece of the season premiere features a terrifying, largely unseen creature stalking a young boy named Will Byers as he rides home from his friend's house after a rousing, hours-long Dungeons and Dragons campaign. The mysterious beast follows Will to his empty house, opening locks and morphing through walls like it's a breeze, eventually confronting Will, who then vanishes into thin air along with the monster.</p>
</div>
	</div>
