
<div class = "container">
	<h3>Eleven</h3>
	<div class="col-sm-4">
<img class = "img" ng-src="/images/eleven.jpg" ng-mouseover="elevenbio=true" ng-mouseleave="elevenbio=false"></img>
</div>
<div class="col-sm-4">
</div>
<div class="col-sm-4">
	<p class = "elevenbio" ng-show="elevenbio">Eleven is a young woman who’s been trapped in a government chamber her whole life. She’s only begun to understand herself, and there’s an appeal to watching her interact with basic human objects in totally alien ways. However, at the end of the day, she’s little more than a blank slate.</p>
</div>
	</div>
