
<div class = "container">
	<h3>Chief Jim Hopper</h3>
	<div class="col-sm-4">
<img class = "img" ng-src="/images/chief.jpg" ng-mouseover="hopbio=true" ng-mouseleave="hopbio=false"></img>
</div>
<div class="col-sm-4">
</div>
<div class="col-sm-4">
	<p class = "hopbio" ng-show="hopbio">The town of Hawkins' Police Chief and main investigator of Will's disappearance. A divorced former law enforcer in an undisclosed big city, whose daughter died of cancer. He struggles with alcoholism and substance abuse to cope with his losses.</p>
</div>
	</div>
